services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: antiphish-api
    ports:
      - "3000:3000"

  web:
    build:
      context: .
      dockerfile: Dockerfile.web
    container_name: antiphish-web
    ports:
      - "8080:80"
    depends_on:
      - api